.myComponent {
    opacity: 0.5;
    background: linear-gradient(264deg, #FFF 15.39%, rgba(255, 255, 255, 0.00) 49.3%), lightgray;
    background-position: 1910.67px -94.623px;
    background-size: -117.858% 128.889%;
    background-repeat: no-repeat;
    /* Add other styles as needed */
  }